extends base

block content 
    .user-view__content
      .user-view__form-container
        h2.heading-secondary.ma-bt-md Please insert the account email to recover your password
        form.form.form-forgot-password
          .form__group
            label.form__label(for='email') Email
            input#email.form__input(type='email', placeholder='example@example.ex', required, minlength='8')
          .form__group.ma-bt-md
          .form__group.right
            button.btn.btn--small.btn--green.btn--save-settings Recover password     